.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .card-body{
  position: absolute;

} */

.banner-card{
  /* background-color: lightcoral; */
  width: 100vw;
  /* height:100vh; */
}

.banner-img{
  height: 80vh;
  width: 100%;
}

.banner-title{
  position: absolute;
  color:white;
  top: 61vh;
  margin-left: 5vw;
  margin-right: 5vw;
  /* left: 5vw; */
  font-size: 1.5rem;
}

.banner-text{
  position: absolute;
  color:white;
  top: 67.7vh;
  /* left: 5vw; */
  margin-right: 5vw;
  margin-left: 5vw;
  font-size: 0.8rem;
}